.listBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: bold;
} 

.listWrapper {
    width: 350px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}